.details {
    display: flex;
    justify-content: space-between;
}

.detail--column {
    flex-basis: 32%;
    margin: 0 1rem;
    border: 1px dotted goldenrod;
}

.details__cities {
    flex-basis: 32%;
    margin: 0 1rem;
    border: 1px dotted goldenrod;
}

.assignments {
    padding: 1rem 5rem;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    margin-bottom: 10px;
}
