.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}

.details__cities {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}

.assignments {
    padding: 1rem 5rem;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    margin-bottom: 10px;
}
